body {
    margin: 0;
    text-align: center;
    font-family:'Merriweather',serif;
    color: #40514e;

}
h1{
    margin: 62px auto 0 auto;
    font-size: 5.62rem;
    color: #66bfbf;
font-family: 'Sacramento',cursive;
}
h2{
font-family: 'Montserrat',sans-serif;
font-size: 2.5rem;
color: #6fcebe;
font-weight: normal;
line-height: 2;
padding-bottom: 10px;
}
h3{
font-family: 'Montserrat',sans-serif;
color: #119e76;
}
p {
line-height: 2;
color: #4d5252;

    
}
hr{
    border: dotted #b6c4c4 8px;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;
}
a{
   color: #213d3e; 
   font-family: 'Montserrat',sans-serif;
   margin: 10px 20px;
   text-decoration: none;


}
a:hover{
    color: #eaf6f6;
}
.topcontainer{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    background-color: #e4f9f5;
    padding-bottom: 100px;
}
.devimg{
    margin: 100px 0 0 0;
height: 150px;
width: 150px;
border-image: round;
}

.bottomcontainer{
   background-color: #66bfbf;
   padding: 50px  0 0 0;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
text-align: left;
}
.firstskill{
width: 25%;
float: right;
margin-left: 30px;
}
.secondskill{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 40px;


}
.bottomcloud{
 position: absolute;
 left: 250px;
 bottom: 300px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc3ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc3ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc3ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc3ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc3ad);
    text-decoration: none;
  }
